body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(12, 11, 11);
  
    
}

.portfolio-container {
    display: flex;
    background: rgb(166, 192, 241);
    width: 60%;
    height: 90%;
    box-shadow: 0px 4px 10px rgba(63, 123, 236, 0.1);
    border-radius: 10px;
    overflow: hidden;
   
}

.left-side {
    width: 70%;
    padding: 20px;
}

.right-side {
    width: 30%;
    background: #cbbfce;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}
